<%= link_to "< Atrás", delivery_categories_path %>
<div class="form-inputs">
    <div class="row">
      <div class="col-12">
      <%= simple_form_for(@delivery_category) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="col-6">
            <%= f.input :name,
                        required: true,
                        label: "Nombre del grupo",
                        autofocus: true %>
          </div>
          <div class="col-6">
            <%= f.association :rider,
                              required: true,
                              label: "Rider",
                              autofocus: true %>
          </div>
        </div>
          <div class="table-responsive-raw">
          <table class="table table-striped">
            <thead class="thead">
              <tr>
                <th></th>
                <th class="date">Fecha</th>
                <th class="name">Nombre</th>
                <th class="custom">Dirección</th>
                <th class="notes">Notas</th>
              </tr>
            </thead>
            <tbody>
              <% @today_orders.each do |order| %>
                <tr>
                  <td>
                    <%= f.association :orders,
                                      collection: [order],
                                      as: :check_boxes,
                                      label_method: :grouped_orders,
                                      value_method: :id,
                                      include_blank: false %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        <div class="form-actions">
          <%= f.button :submit, "Actualizar grupo", class: "nav-pills-current" %>
        </div>
      </div>
    <% end %>
    </div>
</div>
