<%= render 'riders/rider_category_pills' %>
<div class="header">
  <h1>Repartos</h1>
 <p><strong><%= current_user.rider? ? '#Pedidos asignados:' : '#Pedidos no asignados:' %></strong> <%= @remaining_orders %></p>
</div>
<div class="cards">
  <% @delivery_categories.each do |delivery| %>
    <%= link_to delivery_category_deliveries_path(delivery) do %>
      <div class="card-category">
        <div class="card-img">
          <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1602684570/THC/Untitled_design_30_yuf8is.png") %>
        </div>
        <div class="card-title">
          <%= delivery.name %>
        </div>
        <div class="card-description">
          <strong>Rider: </strong><p><%= delivery.rider.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
