<%= link_to "< Atrás", stickers_path %>
<div class="header">
  <h1>Crear etiquetas</h1>
</div>
<div class="form-inputs">
    <div class="row">
      <div class="col-12">
      <%= simple_form_for(@sticker) do |f| %>
        <%= f.error_notification %>
          <div class="table-responsive-raw">
            <table class="table table-striped">
              <thead class="thead">
                <tr>
                  <th><input type="checkbox" onClick="selectAll(this)" id="select-all-button"></th>
                  <th class="name">Nombre</th>
                  <th class="product">Producto</th>
                  <th>Talla</th>
                  <th>Proteín</th>
                  <th class="custom">Custom</th>
                  <th class="notes">Notas</th>
                </tr>
              </thead>
              <tbody>
                <% @selected_orders.each do |order| %>
                  <tr>
                    <td>
                      <%= f.association :orders,
                                        input_html: { class: "checkbox" },
                                        collection: [order],
                                        as: :check_boxes,
                                        label_method: :sticker_orders,
                                        value_method: :id,
                                        include_blank: false %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <div class="form-actions">
          <%= f.button :submit, "Crear etiquetas", class: "nav-pills-current" %>
        </div>
      </div>
    <% end %>
    </div>
</div>

<script language="JavaScript">
  function selectAll(source) {
    const checkboxes = document.querySelectorAll('.checkbox');
    const selectAllButton = document.getElementById('select-all-button')
    checkboxes.forEach(el => {
      if (selectAllButton.checked === true) {
        el.checked = true;
      } else {
        el.checked = false;
      };
    });
  }
</script>