<nav class="navbar">
  <div class="logo">
    <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1602757951/THC/5ea17a313db0d2b2f27e1b6c_small_logo_y-01_c6xnob.png") %>
  </div>
  <ul class="list">
    <li><%= link_to "Cocina", root_path %></li>
    <li><%= link_to "Etiquetas", stickers_path %></li>
    <% if Rider.exists? %>
      <li><%= link_to "Reparto", deliveries_path %></li>
    <% end %>
    <li><%= link_to "Pedidos totales", orders_path %></li>
    <li><%= link_to "", new_order_path, class: "fas fa-plus-square" %></li>
    <li><%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
  </ul>
</nav>
