<nav class="navbar">
  <div class="logo">
    <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1602757951/THC/5ea17a313db0d2b2f27e1b6c_small_logo_y-01_c6xnob.png") %>
  </div>
  <ul class="list">
    <li>
      <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1603285182/Untitled_design_31_atox2n.png") %>
      <%= link_to "Cocina", root_path %></li>
      <% if current_user && policy(Sticker).create? %>
        <li>
          <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1602684570/THC/Untitled_design_29_nlqeu1.png") %>
          <%= link_to "Etiquetas", stickers_path %>
          </li>
      <% end %>
    <% if Rider.exists? %>
      <li>
      <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1603287638/THC/Untitled_design_33_b7tjm3.png") %>
        <%= link_to "Reparto", deliveries_path %></li>
    <% end %>
    <li>
      <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1603287056/THC/Untitled_design_32_mg9e3o.png") %>
      <%= link_to "Pedidos", orders_path %></li>
    <% if current_user && policy(Order).create? %>
      <li>
        <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1603288761/THC/Untitled_design_35_o7odyx.png") %>
        <%= link_to "Crear", new_order_path %></li>
      </li>
        <li><%= link_to "", rails_admin_path, class: "fas fa-cogs" %></li>
    <% end %>
      <li><%= link_to "", "https://res.cloudinary.com/therainycloud/image/upload/v1603965401/THC/FIRST_STEPS____THE_HEALTHIEST_CHOICE_xequwy.pdf"  ,target: "_blank", class: "fas fa-question-circle" %></li>
      <li><%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
  </ul>
</nav>
