<%= link_to "< Atrás", delivery_categories_path %>
<%= render 'riders/rider_pills' %>
<div class="header">
  <h1>Grupos de pedidos</h1>
 <p> <strong>#Pedidos no asignados:</strong> <%= @remaining_orders %></p>
</div>
<div class="cards">
  <% @delivery_groups.each do |delivery| %>
    <%= link_to delivery_category_delivery_path(@delivery_category.id, delivery) do %>
      <div class="card-category">
        <div class="card-img">
          <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1614859236/THC/thc_bag_roe4qi.png") %>
        </div>
        <div class="card-title">
          <%= delivery.name %>
        </div>
        <div class="card-description">
          <strong>Rider: </strong><p><%= delivery.rider.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="buttons-wrapper">
  <%= link_to "Editar Reparto", edit_delivery_category_path(@delivery_category), class: "button-primary"  %>
  <%= link_to "Eliminar Reparto", delivery_category_path(@delivery_category), method: :delete, class: "button-primary", data: {confirm: "Confirmar?"} %>
</div>
