<%= link_to "< Atrás", delivery_categories_path %>
<%= render 'riders/rider_pills' %>
<div class="header">
  <h1>Grupos de pedidos</h1>
 <p> <strong>#Pedidos no asignados:</strong> <%= @remaining_orders %></p>
</div>


<!-- Start table test -->
<div class="table-responsive-raw">
  <table class="table table-striped">
    <thead>
          <tr>
            <% if !current_user.rider? %>
            <th class="date">Fecha</th>
            <th class="name">Nombre</th>
            <th class="custom">Dirección</th>
            <th>Telefono</th>
            <th class="custom">Notas</th>
            <th></th>
            <% else %>
            <th class="custom">Dirección</th>
            <th style="text-align: center;" class="icon">Ver</th>
            <th class="icon"></th>
            <% end %>
          </tr>
        </thead>
    <tbody class="sortable" data-id="<%= @delivery_category.id %>">  <!-- sortable target -->
      <% @rider_orders.each do |order| %>
        <tr data-id = <%= "#{order.id}" %>>
          <% if !current_user.rider? %>
            <% if order == Order  %>
              <td><%= order.meal_date %></td>
              <td><%= order.customer_name %></td>
              <td><%= order.delivery_address %></td>
              <td><%= order.telephone if order.telephone.present? %></td>
              <td><%= order.notes %></td>
              <td>
                <% if order.customer_email.present? %>
                    <%= simple_form_for(order) do |f| %>
                    <%= f.error_notification %>
                    <%= f.input :delivered,
                    required: true,
                    label: false,
                    :as => :hidden,
                    input_html: {value: true},
                    autofocus: true %>
                    <% if order.delivered == true %>
                      <%= f.button :submit, "Entregado", class: "btn", data: { confirm: "Confirmar entrega" } %>
                    <% else %>
                      <%= f.button :submit, "Entregar", class: "button-primary", data: { confirm: "Confirmar entrega" } %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          <% else %>
            <% if order.class == Order %>
                <td><%= order.delivery_address %></td>
              <td>
                <div type="button" data-toggle="modal" style="text-align: center;" data-target=<%="#order-#{order.id}"%>>
                  <span class="far fa-list-alt icon" style="font-size: 25px;"></span>
                </div>
              </td>
              <% if order.delivered == true %>
                <td class="icon"><i class="fas fa-check"></i></td>
              <% end %>
              <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id=<%="order-#{order.id}"%>>
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= order.customer_name %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul>
                        <li><strong>Fecha:</strong> <%= order.meal_date %></li>
                        <li><strong>Teléfono:</strong> <%= order.telephone if order.telephone.present? %></li>
                        <li><strong>Dirección:</strong> <%= order.delivery_address %></li>
                        <li><strong>Notas:</strong> <%= order.notes %></li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <% if order.customer_email.present? %>
                          <%= simple_form_for(order) do |f| %>
                            <%= f.error_notification %>
                            <%= f.input :delivered,
                            required: true,
                            label: false,
                            :as => :hidden,
                            input_html: {value: true},
                            autofocus: true %>
                            <% if order.delivered == true %>
                              <%= f.button :submit, "Entregado", class: "btn", data: { confirm: "Confirmar entrega" } %>
                            <% else %>
                              <%= f.button :submit, "Entregar", class: "button-primary", data: { confirm: "Confirmar entrega" } %>
                            <% end %>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <td>Grupo: <%= order.name %> #pedidos: <%= order.orders.count %></td>
              <td>
                <div type="button" data-toggle="modal" style="text-align: center;" data-target=<%="#order-#{order.id}"%>>
                  <div class="modal-button-group">
                    <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1614859236/THC/thc_bag_roe4qi.png") %>
                  </div>
                </div>
              </td>
              <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id=<%="order-#{order.id}"%>>
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= order.name %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <% order.orders.each do |group_order| %>
                      <ul>
                        <li>
                          <strong>Pedido para: </strong> <%= group_order.customer_name %>
                        </li>
                        <li><strong>Producto: </strong> <%= group_order.product.meal_name %></li>
                      </ul>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                    <% if order.orders.any? { |o| o.customer_email.present? } %>
                      <%= simple_form_for([@delivery_category, order]) do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :delivered,
                        required: true,
                        label: false,
                        :as => :hidden,
                        input_html: {value: true},
                        autofocus: true %>
                        <%= f.button :submit, "Entregar", class: "button-primary", data: { confirm: "Confirmar entrega" } %>
                      <% end %>
                     <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<!-- end table test -->
<div class="buttons-wrapper">
  <%= link_to "Editar Reparto", edit_delivery_category_path(@delivery_category), class: "button-primary"  %>
  <%= link_to "Eliminar Reparto", delivery_category_path(@delivery_category), method: :delete, class: "button-primary", data: {confirm: "Confirmar?"} %>
</div>
