<%= link_to "< Atrás", deliveries_path %>
<div class="form-inputs">
    <div class="row">
      <div class="col-12">
      <%= simple_form_for(@delivery_group) do |f| %>
        <%= f.error_notification %>
          <%= f.input :name,
                      required: true,
                      label: "Nombre del grupo",
                      autofocus: true %>
        <%= f.association :rider,
                    required: true,
                    label: "Rider",
                    autofocus: true %>
          <div class="table-responsive">
        <%= f.association :orders,
                    collection: @today_orders,
                    as: :check_boxes,
                    label_method: :grouped_orders,
                    value_method: :id,
                    include_blank: false %>
          </div>
        <div class="form-actions">
          <%= f.button :submit, "Crear grupo", class: "nav-pills-current" %>
        </div>
      </div>
    <% end %>

    </div>
</div>
