<% if current_user && current_user.rider? %>
  <%= link_to "< Atrás", rider_path(current_user.riders.first) %>
<% else %>
  <%= link_to "< Atrás", deliveries_path %>
<% end %>

<div class="header">
  <h1><%= @delivery_group.name %></h1>
  <p>Total de pedidos: <%= @total_delivery_orders %></p>
  <% if !current_user.rider? %>
    <p>Rider: <%= @delivery_group.rider.name %></p>
  <% end %>
  <% if @delivery_group.orders.any?  && !current_user.rider? %>
    <%= link_to delivery_path(@delivery_group, format: :pdf), target: "_blank", class: "button-primary" do %>
    <i class="fas fa-file-download"></i>
    Descargar
    <% end %>
  <% end %>
</div>
<div class="table-responsive-raw">
  <table class="table table-striped">
    <thead>
          <tr>
            <% if !current_user.rider? %>
              <th class="date">Fecha</th>
            <% end %>
            <th class="name">Nombre</th>
            <th>Telefono</th>
            <th class="custom">Dirección</th>
            <th class="custom">Notas</th>
            <th></th>
          </tr>
        </thead>
    <tbody class="sortable" data-id="<%= @delivery_group.id %>">  <!-- sortable target -->
      <% @delivery_group.orders.order(:sequence).each do |order| %>
        <tr data-id = <%= "#{order.id}" %>>
          <% if !current_user.rider? %>
            <td><%= order.meal_date %></td>
          <% end %>
          <td><%= order.customer_name %></td>
          <td><%= order.telephone if order.telephone.present? %></td>
          <td><%= order.delivery_address %></td>
          <td class="my-handle"></td>
          <td>
            <% if order.customer_email.present? %>
                <%= simple_form_for(order) do |f| %>
                <%= f.error_notification %>
                <%= f.input :delivered,
                required: true,
                label: false,
                :as => :hidden,
                input_html: {value: true},
                autofocus: true %>
                <% if order.delivered == true %>
                  <%= f.button :submit, "Entregado", class: "btn", data: { confirm: "Confirmar entrega" } %>
                <% else %>
                  <%= f.button :submit, "Entregar", class: "button-primary", data: { confirm: "Confirmar entrega" } %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if policy(Delivery).edit? %>
  <div class="buttons-wrapper">
    <%= link_to "Editar", edit_delivery_path(@delivery_group), class: "button-primary"  %>
    <%= link_to "Eliminar", delivery_path(@delivery_group), method: :delete, class: "button-primary", data: {confirm: "Confirmar?"} %>
  </div>
<% end %>


