<%= link_to "< Atrás", deliveries_path %>
<div class="header">
  <h1><%= @delivery_group.name %></h1>
  <p>Rider: <%= @delivery_group.rider.name %></p>
  <%= link_to delivery_path(@delivery_group, format: :pdf), target: "_blank", class: "button-primary" do %>
  <i class="fas fa-file-download"></i>
  Descargar
  <% end %>
</div>
<div class="table-responsive-raw">
  <table class="table table-striped">
    <thead>
          <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <!-- <th>Producto</th> -->
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Notas</th>
          </tr>
        </thead>
    <tbody class="sortable" data-id="<%= @delivery_group.id %>">  <!-- sortable target -->
      <% @delivery_group.orders.order(:sequence).each do |order| %>
        <tr data-id = <%= "#{order.id}" %>>
          <td><%= order.meal_date %></td>
          <td><%= order.customer_name %></td>
          <td><%= order.telephone %></td>
          <td><%= order.delivery_address %></td>
          <td><%= order.notes %></td>
          <td>
              <%= simple_form_for(order) do |f| %>
              <%= f.error_notification %>
              <%= f.input :delivered,
              required: true,
              label: false,
              :as => :hidden,
              input_html: {value: true},
              autofocus: true %>
              <% if order.delivered == true %>
                <%= f.button :submit, "Entragado", class: "btn", data: { confirm: "Confirmar entrega" } %>
              <% else %>
                <%= f.button :submit, "Entragar", class: "button-primary", data: { confirm: "Confirmar entrega" } %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="buttons-wrapper">
  <%= link_to "Editar", edit_delivery_path(@delivery_group), class: "button-primary"  %>
  <%= link_to "Eliminar", delivery_path(@delivery_group), method: :delete, class: "button-primary", data: {confirm: "Confirmar?"} %>

</div>


