<div class="table-responsive-raw">
  <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Producto</th>
        <th>Talla</th>
        <th>Proteína</th>
        <th>Custom</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.customer_name %></td>
          <td><%= order.customer_email %></td>
          <td><%= order.telephone %></td>
          <td><%= order.delivery_address %></td>
          <td><%= order.product.meal_name %></td>
          <td><%= order.meal_size %></td>
          <td><%= order.meal_protein %></td>
          <td><%= order.meal_custom %></td>
          <td><%= order.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="apple_pagination">
  <%= will_paginate @orders %>
</div>
