<div class="search-bar">
  <%= form_tag orders_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Buscar pedido por Nombre, Email o Fecha"
    %>
    <%= submit_tag "Buscar", class: "button-primary" %>
    <%= link_to "", :back, class: "fas fa-undo button-secondary", style: "line-height: 21px; margin-left: 2px;"  %>
  <% end %>
</div>

<div class="table-responsive-raw">
  <table class="table table-striped">
      <tr>
        <th class="date">Fecha</th>
        <th class="name">Nombre</th>
        <th class="custom">Dirección</th>
        <th class="product">Producto</th>
        <th>Talla</th>
        <th>Proteína</th>
        <th>Custom</th>
        <th>Notas</th>
        <th>Ver pedido</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.meal_date %></td>
            <td><%= order.customer_name %></td>
            <td><%= order.delivery_address %></td>
            <td><%= order.product.name.downcase.capitalize %></td>
            <td><%= order.meal_size.capitalize %></td>
            <td><%= order.meal_protein.capitalize %></td>
            <td><%= order.meal_custom.capitalize %></td>
            <td><%= order.notes.downcase.capitalize %></td>
            <td><%= link_to "", order_path(order), class: "far fa-eye" %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% unless params[:query].present? %>
<div class="apple_pagination">
  <%= will_paginate @orders %>
</div>
<% end %>
