  <div class="form-inputs">
    <div class="row">
      <div class="col-6">
        <%= simple_form_for(@order) do |f| %>
        <%= f.error_notification %>
        <%= f.association :product,
                    required: true,
                    label: "Producto",
                    autofocus: true %>
        <%= f.input :category,
                    required: true,
                    label: "Categoría",
                    collection: ["Meals", "Snacks", "Desserts"] %>
        <%= f.input :meal_size,
                    required: true,
                    collection: ["Regular", "Large"],
                    label: "Tamaño del producto" %>
        <%= f.input :meal_protein,
                    required: true,
                    collection: ["-", "Vegetarian", "Vegan"],
                    label: "Proteína" %>
        <%= f.input :meal_custom,
                    required: true,
                    collection: ["-", "Low carb", "High carb", "High protein", "Keto", "High protein/low carb"],
                    label: "Customización" %>
        <%= f.input :meal_date,
                    required: true,
                    placeholder: "ej: 01-12-2020",
                    label: "Fecha de entrega del pedido" %>
        <%= f.input :notes,
                    required: true,
                    label: "Notas" %>
        </div>
      <div class="col-6">
        <%= f.input :customer_name,
                    required: true,
                    label: "Nombre de Cliente" %>
        <%= f.input :customer_email,
                    required: false,
                    label: "Email de Cliente" %>
        <%= f.input :telephone,
                    required: false,
                    label: "Teléfono" %>
        <%= f.input :delivery_address,
                    required: true,
                    label: "Dirección" %>
        <div class="form-actions">
          <%= f.button :submit, "Crear pedido", class: "button-primary" %>
        </div>
      </div>
    <% end %>
    </div>
</div>
