  <div class="form-inputs">
    <div class="row">
      <div class="col-6">
        <%= simple_form_for(@order) do |f| %>
        <%= f.association :product,
                    required: true,
                    label: "Producto",
                    autofocus: true %>
        <%= f.input :category,
                    required: true,
                    label: "Categoría",
                    collection: ["Meals", "Snacks", "Desserts"] %>
        <%= f.input :meal_size,
                    required: true,
                    collection: ["regular", "large"],
                    label: "Tamaño del producto" %>
        <%= f.input :meal_protein,
                    required: true,
                    collection: ["no customisation", "vegetarian", "vegan"],
                    label: "Proteína" %>
        <%= f.input :meal_custom,
                    required: true,
                    collection: ["no customisation", "low carb", "high carb", "high protein", "keto", "high protein/low carb"],
                    label: "Otra customización" %>
        <%= f.input :meal_date,
                    required: true,
                    placeholder: "ej: 01-12-2020",
                    label: "Fecha de entrega del pedido" %>
        <%= f.input :notes,
                    required: true,
                    label: "Notas" %>
        </div>
      <div class="col-6">
        <%= f.error_notification %>
        <%= f.input :customer_name,
                    required: true,
                    label: "Nombre de Cliente" %>
        <%= f.input :customer_email,
                    required: true,
                    label: "Email de cliente" %>
        <%= f.input :telephone,
                    required: true,
                    label: "Telefono" %>
        <%= f.input :delivery_address,
                    required: true,
                    label: "Dirección" %>
        <div class="form-actions">
          <%= f.button :submit, "Crear pedido", class: "button-primary" %>
        </div>
      </div>
    <% end %>
    </div>
</div>


