<div class="tab-content h-100" id="myTabContent" data-controller="orders" data-path="<%= @path %>">
  <div class="nav-wrapper-tabs">
    <div class="tabs-wrapper">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#meals" role="tab" aria-controls="meals" aria-selected="true">Bowls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#snacks" role="tab" aria-controls="snacks" aria-selected="false">Snacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#desserts" role="tab" aria-controls="desserts" aria-selected="false">Postres</a>
        </li>
      </ul>
    </div>
    <div class="flex-wrapper">
      <p data-target="orders.updatedAt">Actualizado: <strong><%= @updated_at %></strong></p>
    </div>
    <div class="flex-wrapper">
      <a class="toggler" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"></i>Resumen</a>
      <%= link_to polymorphic_path(@path, format: :pdf), target: "_blank", class: "button-primary" do %>
        <i class="fas fa-file-download"></i>
        Descargar
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade show active" id="meals" role="tabpanel" aria-labelledby="home-tab">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <%= render 'table_meals_summary' %>
    </div>
    <div class="table-responsive-raw">
        <table class="table table-striped">
          <thead class="thead">
            <tr>
              <th class="date">Fecha</th>
              <th class="name">Nombre</th>
              <th>Talla</th>
              <th>Proteína</th>
              <th class="custom">Customización</th>
              <th class="notes">Notas</th>
              <th class="custom">Dirección</th>
            </tr>
          </thead>
          <tbody data-target="orders.mealsRaw">
            <% @meals.each do |meal| %>
              <tr>
                <td><%= meal.meal_date %></td>
                <td><%= meal.customer_name %></td>
                <td><%= meal.meal_size %></td>
                <td><%= meal.meal_protein %></td>
                <td><%= meal.meal_custom %></td>
                <td><%= meal.notes %></td>
                <td><%= meal.delivery_address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>

  <div class="tab-pane fade" id="snacks" role="tabpanel" aria-labelledby="profile-tab">
   <div class="collapse multi-collapse" id="multiCollapseExample1">
      <%= render 'table_snacks_summary' %>
    </div>
    <div class="table-responsive-raw">
      <table class="table table-striped">
          <thead class="thead">
            <tr>
              <th class="date">Fecha</th>
              <th class="name">Nombre</th>
              <th class="product">Producto</th>
              <th class="notes">Notas</th>
              <th class="custom">Dirección</th>
            </tr>
          </thead>
          <tbody data-target="orders.snacksRaw">
            <% @snacks.each do |snack| %>
              <tr>
                <td><%= snack.meal_date %></td>
                <td><%= snack.customer_name %></td>
                <td><%= snack.product.meal_name %></td>
                <td><%= snack.notes %></td>
                <td><%= snack.delivery_address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>

  <div class="tab-pane fade" id="desserts" role="tabpanel" aria-labelledby="contact-tab">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <%= render 'table_desserts_summary' %>
    </div>
    <div class="table-responsive-raw">
      <table class="table table-striped">
        <thead class="thead">
          <tr>
            <th class="date">Fecha</th>
            <th class="name">Nombre</th>
            <th class="product">Producto</th>
            <th class="notes">Notas</th>
            <th class="custom">Dirección</th>
          </tr>
        </thead>
        <tbody data-target="orders.dessertsRaw">
          <% @desserts.each do |dessert| %>
            <tr>
              <td><%= dessert.meal_date %></td>
              <td><%= dessert.customer_name %></td>
              <td><%= dessert.product.meal_name %></td>
              <td><%= dessert.notes %></td>
              <td><%= dessert.delivery_address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
