<div class="riders-pills">
  <% if current_user.role != "rider" %>
    <%= link_to "Nuevo grupo", new_delivery_category_delivery_path(@delivery_category), class: "button-secondary" %>
  <% else %>
    <%= link_to "Desconectar", destroy_session_path(current_user), method: :delete, class: "button-secondary" %>
  <% end %>
      <%= link_to "Refrescar", delivery_category_deliveries_path, class: "button-secondary", style: "margin-left: 5px;" %>
  <div class="dropdown">
    <button class="button-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Riders
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @riders.each do |rider| %>
          <% if current_page?(rider_path(rider)) %>
              <%= link_to "#{rider.user.first_name} #{rider.user.last_name}", rider_path(rider), class: "dropdown-item-current" %>
          <% else %>
              <%= link_to "#{rider.user.first_name} #{rider.user.last_name}", rider_path(rider), class: "dropdown-item" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
