<div class="table-responsive-summary">
    <table class="table table-striped">
      <thead class="thead">
        <tr>
          <th></th>
          <th>Normal</th>
          <th>Low Carb</th>
          <th>High Carb</th>
          <th>High Protein</th>
          <th>Keto</th>
          <th>High Protein/Low Carb</th>
        </tr>
      </thead>
      <tbody>
        <% @summary.each do |e| %>
          <tr>
          <th><%= e[0].capitalize %></th>
          <td><%= e[1] %></td>
          <td><%= e[2] %></td>
          <td><%= e[3] %></td>
          <td><%= e[4] %></td>
          <td><%= e[5] %></td>
          <td><%= e[6] %></td>
          </tr>        
        <% end %>
      </tbody>
    </table>
</div>